body {
    background-image: url('bliss.jpg');
    background-size: cover;
}

#input {
    width: 100%;
    resize: none;
}

.buttons {
    justify-content: flex-end;
    padding: 6px;
}

.output-area {
    background-color: #fff;
    overflow: auto;
    height: 100px;
    padding: 6px 12px;
}

.app-window {
    margin: 50px auto;
    min-width: 200px;
    max-width: 550px;
}

.link-area {
    margin: 6px 0;
    justify-content: flex-end;
}